# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.log

# Data files (ignore large datasets)
data/
*.csv
*.h5

# Anaconda project caches
anaconda_projects/db/
anaconda_projects/.ipynb_checkpoints/
*.db

# OS files
Thumbs.db
.DS_Store
